USE [master]
GO
/****** Object:  Database [Championship]    Script Date: 25.01.2026 18:43:07 ******/
CREATE DATABASE [Championship]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Championship', FILENAME = N'C:\Users\THUNDER\Championship.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Championship_log', FILENAME = N'C:\Users\THUNDER\Championship_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Championship].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Championship]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineOperator]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineOperator](
	[Phone] [varchar](11) NOT NULL,
	[MachineId] [nvarchar](36) NOT NULL,
	[OperatorId] [tinyint] NOT NULL,
	[Balance] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_MachineOperator] PRIMARY KEY CLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachinePlace]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachinePlace](
	[PlaceId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MachinePlace] PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineProduct]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineProduct](
	[MachineId] [nvarchar](36) NOT NULL,
	[ProductId] [nvarchar](36) NOT NULL,
	[Price] [decimal](19, 4) NOT NULL,
	[MinStock] [smallint] NOT NULL,
	[QuantityAvailable] [smallint] NOT NULL,
 CONSTRAINT [PK_MachineProduct] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[MaintenanceId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [nvarchar](36) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[WorkDescriptionId] [tinyint] NOT NULL,
	[IssuesFound] [nvarchar](255) NULL,
	[WorkerId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_Maintenance] PRIMARY KEY CLUSTERED 
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operator]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator](
	[OperatorId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Operator] PRIMARY KEY CLUSTERED 
(
	[OperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[SalesTrend] [float] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [nvarchar](36) NOT NULL,
	[MachineId] [nvarchar](36) NOT NULL,
	[PaymentMethodId] [tinyint] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePriority]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePriority](
	[PriorityId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ServicePriority] PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[TemplateId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [nvarchar](36) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[RoleId] [tinyint] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachine]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachine](
	[MachineId] [nvarchar](36) NOT NULL,
	[SerialNumber] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](150) NOT NULL,
	[UserId] [nvarchar](36) NOT NULL,
	[WorkModeId] [tinyint] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[StatusId] [tinyint] NOT NULL,
	[PriorityId] [tinyint] NOT NULL,
	[PlaceId] [tinyint] NOT NULL,
	[ModelId] [int] NOT NULL,
	[HasCoin] [bit] NOT NULL,
	[HasBill] [bit] NOT NULL,
	[HasQr] [bit] NOT NULL,
	[HasNfc] [bit] NOT NULL,
	[StratHour] [time](7) NOT NULL,
	[EndHour] [time](7) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Timezone] [tinyint] NOT NULL,
	[TotalIncome] [decimal](19, 4) NOT NULL,
	[InstallDate] [datetime2](7) NOT NULL,
	[LastMaintenanceDate] [datetime2](7) NOT NULL,
	[RfidCashCollection] [nvarchar](12) NOT NULL,
	[RfidLoading] [nvarchar](12) NOT NULL,
	[RfidService] [nvarchar](13) NOT NULL,
	[KitOnlineId] [nvarchar](10) NOT NULL,
	[CriticalThresholdTemplateId] [tinyint] NOT NULL,
	[NotificationTemplateId] [tinyint] NOT NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK_VendingMachine] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkDescription]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkDescription](
	[WorkDescriptionId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WorkDescription] PRIMARY KEY CLUSTERED 
(
	[WorkDescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](36) NOT NULL,
	[IsManager] [bit] NOT NULL,
	[IsEngineer] [bit] NOT NULL,
	[IsTechnician] [bit] NOT NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkMode]    Script Date: 25.01.2026 18:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkMode](
	[WorkModeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkMode] PRIMARY KEY CLUSTERED 
(
	[WorkModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [Name]) VALUES (1, N'ООО Торговые Аппараты')
INSERT [dbo].[Company] ([CompanyId], [Name]) VALUES (2, N'ООО Про Вендинг Групп')
INSERT [dbo].[Company] ([CompanyId], [Name]) VALUES (3, N'ООО ВендингСервис Плюс')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
INSERT [dbo].[MachineOperator] ([Phone], [MachineId], [OperatorId], [Balance]) VALUES (N'72519685368', N'53e2ec2e-d407-4e9a-a1d9-5a9501e81ede', 3, CAST(0.0000 AS Decimal(19, 4)))
INSERT [dbo].[MachineOperator] ([Phone], [MachineId], [OperatorId], [Balance]) VALUES (N'72754486922', N'89c05e76-6b7e-4d72-b97c-62ecb96b1370', 4, CAST(0.0000 AS Decimal(19, 4)))
INSERT [dbo].[MachineOperator] ([Phone], [MachineId], [OperatorId], [Balance]) VALUES (N'76543211212', N'4daae871-71ac-44da-8b58-dcf1a2ae907a', 3, CAST(0.0000 AS Decimal(19, 4)))
GO
SET IDENTITY_INSERT [dbo].[MachinePlace] ON 

INSERT [dbo].[MachinePlace] ([PlaceId], [Name]) VALUES (1, N'У входа')
INSERT [dbo].[MachinePlace] ([PlaceId], [Name]) VALUES (2, N'Офис')
INSERT [dbo].[MachinePlace] ([PlaceId], [Name]) VALUES (3, N'Холл')
SET IDENTITY_INSERT [dbo].[MachinePlace] OFF
GO
INSERT [dbo].[MachineProduct] ([MachineId], [ProductId], [Price], [MinStock], [QuantityAvailable]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'341529cf-dffb-4813-9c77-76f39f4445c7', CAST(181.4900 AS Decimal(19, 4)), 18, 93)
INSERT [dbo].[MachineProduct] ([MachineId], [ProductId], [Price], [MinStock], [QuantityAvailable]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'64ad7e60-59c1-4a36-9e09-4f0038143720', CAST(166.7800 AS Decimal(19, 4)), 6, 76)
INSERT [dbo].[MachineProduct] ([MachineId], [ProductId], [Price], [MinStock], [QuantityAvailable]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'8aba3e58-49f7-44f0-9f7b-f8ad1cd570dc', CAST(195.0300 AS Decimal(19, 4)), 20, 47)
GO
SET IDENTITY_INSERT [dbo].[Maintenance] ON 

INSERT [dbo].[Maintenance] ([MaintenanceId], [MachineId], [Date], [WorkDescriptionId], [IssuesFound], [WorkerId]) VALUES (101, N'a977e322-192c-4567-9f5f-36f504bfc13d', CAST(N'2024-09-13T16:44:04.0000000' AS DateTime2), 1, N'Зависла сессия оплаты', N'2')
INSERT [dbo].[Maintenance] ([MaintenanceId], [MachineId], [Date], [WorkDescriptionId], [IssuesFound], [WorkerId]) VALUES (102, N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', CAST(N'2024-04-25T06:59:09.0000000' AS DateTime2), 2, N'Проблемы с термобумагой', N'2')
INSERT [dbo].[Maintenance] ([MaintenanceId], [MachineId], [Date], [WorkDescriptionId], [IssuesFound], [WorkerId]) VALUES (103, N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', CAST(N'2024-07-12T19:03:57.0000000' AS DateTime2), 3, N'Проблемы с термобумагой', N'5')
GO
SET IDENTITY_INSERT [dbo].[Maintenance] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([ModelId], [Name]) VALUES (1, N'Rheavendors Luce E5')
INSERT [dbo].[Model] ([ModelId], [Name]) VALUES (2, N'Unicum Rosso')
INSERT [dbo].[Model] ([ModelId], [Name]) VALUES (3, N'Bianchi BVM 972')
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
SET IDENTITY_INSERT [dbo].[Operator] ON 

INSERT [dbo].[Operator] ([OperatorId], [Name]) VALUES (1, N'Билайн')
INSERT [dbo].[Operator] ([OperatorId], [Name]) VALUES (2, N'МТС')
INSERT [dbo].[Operator] ([OperatorId], [Name]) VALUES (3, N'Т2')
SET IDENTITY_INSERT [dbo].[Operator] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [Name]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [Name]) VALUES (2, N'Qr-код')
INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [Name]) VALUES (3, N'Карта')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [SalesTrend]) VALUES (N'069d1026-82b5-4365-8481-1b38fe50307c', N'Трюфельный макиато', N'Имеет интенсивный вкус с нотками шоколадного трюфеля.', 1.14)
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [SalesTrend]) VALUES (N'075ac323-7649-44e8-bbff-60cbda965c47', N'Фисташковый мокко', N'Имеет ореховый оттенок с нежной фисташковой ноткой.', 5.55)
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [SalesTrend]) VALUES (N'121d56e4-dc5b-43c3-8658-d1a00f8cbf76', N'Карамельно-соленый мокко', N'Имеет необычный вкус с оттенком морской соли.', 8.15)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Персонал')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Франчайзи')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [ProductId], [MachineId], [PaymentMethodId], [Timestamp]) VALUES (1, N'a90eaff4-e8bd-400f-a4b9-63cc6e0bcb54', N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', 1, CAST(N'2024-11-27T14:47:37.8714790' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [ProductId], [MachineId], [PaymentMethodId], [Timestamp]) VALUES (2, N'f3dc17fc-f9fe-4beb-93f4-a27a02adb152', N'70f22c9f-de0a-41a9-9a53-cabf42688d47', 2, CAST(N'2025-01-16T04:40:42.8040880' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [ProductId], [MachineId], [PaymentMethodId], [Timestamp]) VALUES (3, N'e9aa2886-0ba0-4b7a-96dc-078855f99872', N'70f22c9f-de0a-41a9-9a53-cabf42688d47', 1, CAST(N'2025-01-13T06:51:25.0621890' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[ServicePriority] ON 

INSERT [dbo].[ServicePriority] ([PriorityId], [Name]) VALUES (1, N'Низкий')
INSERT [dbo].[ServicePriority] ([PriorityId], [Name]) VALUES (2, N'Средний')
INSERT [dbo].[ServicePriority] ([PriorityId], [Name]) VALUES (3, N'Высокий')
SET IDENTITY_INSERT [dbo].[ServicePriority] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (1, N'Обслуживается')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (2, N'Сломан')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (3, N'Работает')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Template] ON 

INSERT [dbo].[Template] ([TemplateId], [Name]) VALUES (1, N'Расширенный')
INSERT [dbo].[Template] ([TemplateId], [Name]) VALUES (2, N'Стандартный')
INSERT [dbo].[Template] ([TemplateId], [Name]) VALUES (3, N'Не указан')
SET IDENTITY_INSERT [dbo].[Template] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkDescription] ON 

INSERT [dbo].[WorkDescription] ([WorkDescriptionId], [Name]) VALUES (1, N'Замена дисплея')
INSERT [dbo].[WorkDescription] ([WorkDescriptionId], [Name]) VALUES (2, N'Чистка внутренних узлов')
INSERT [dbo].[WorkDescription] ([WorkDescriptionId], [Name]) VALUES (3, N'Ремонт купюроприемника')
SET IDENTITY_INSERT [dbo].[WorkDescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([WorkerId], [UserId], [IsManager], [IsEngineer], [IsTechnician]) VALUES (1, N'01f0b7d3-9b64-49d0-b63e-9190d736d091', 0, 1, 0)
INSERT [dbo].[Worker] ([WorkerId], [UserId], [IsManager], [IsEngineer], [IsTechnician]) VALUES (2, N'7a051229-40bb-443e-80b8-024cb239f52b', 1, 1, 1)
INSERT [dbo].[Worker] ([WorkerId], [UserId], [IsManager], [IsEngineer], [IsTechnician]) VALUES (3, N'af4fbc9f-37ca-45ff-bb94-494c348d876f', 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Worker] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkMode] ON 

INSERT [dbo].[WorkMode] ([WorkModeId], [Name]) VALUES (1, N'Стандартный')
INSERT [dbo].[WorkMode] ([WorkModeId], [Name]) VALUES (2, N'Тестовый')
SET IDENTITY_INSERT [dbo].[WorkMode] OFF
GO
ALTER TABLE [dbo].[MachineOperator] ADD  CONSTRAINT [DF_MachineOperator_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[MachineOperator]  WITH CHECK ADD  CONSTRAINT [FK_MachineOperator_Operator] FOREIGN KEY([OperatorId])
REFERENCES [dbo].[Operator] ([OperatorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachineOperator] CHECK CONSTRAINT [FK_MachineOperator_Operator]
GO
ALTER TABLE [dbo].[MachineOperator]  WITH CHECK ADD  CONSTRAINT [FK_MachineOperator_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachineOperator] CHECK CONSTRAINT [FK_MachineOperator_VendingMachine]
GO
ALTER TABLE [dbo].[MachineProduct]  WITH CHECK ADD  CONSTRAINT [FK_MachineProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[MachineProduct] CHECK CONSTRAINT [FK_MachineProduct_Product]
GO
ALTER TABLE [dbo].[MachineProduct]  WITH CHECK ADD  CONSTRAINT [FK_MachineProduct_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
GO
ALTER TABLE [dbo].[MachineProduct] CHECK CONSTRAINT [FK_MachineProduct_VendingMachine]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_VendingMachine]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_WorkDescription] FOREIGN KEY([WorkDescriptionId])
REFERENCES [dbo].[WorkDescription] ([WorkDescriptionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_WorkDescription]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_PaymentMethod]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Product]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_VendingMachine]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Company]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_MachinePlace] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[MachinePlace] ([PlaceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_MachinePlace]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Model]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_ServicePriority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[ServicePriority] ([PriorityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_ServicePriority]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Status]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Template] FOREIGN KEY([CriticalThresholdTemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Template]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Template1] FOREIGN KEY([NotificationTemplateId])
REFERENCES [dbo].[Template] ([TemplateId])
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Template1]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_User]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_WorkMode] FOREIGN KEY([WorkModeId])
REFERENCES [dbo].[WorkMode] ([WorkModeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_WorkMode]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_User]
GO
USE [master]
GO
